/**
 * @file
 * Custom Styling
 */
/* line 55, ../sass/simple_conference_theme.scss */
html {
  background: white;
}

/* line 59, ../sass/simple_conference_theme.scss */
#page {
  background: white;
  padding-bottom: 40px;
}

/* line 66, ../sass/simple_conference_theme.scss */
.central {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/* line 72, ../sass/simple_conference_theme.scss */
#header-wrapper {
  background-color: #231f20;
}

/* line 76, ../sass/simple_conference_theme.scss */
#site-name {
  padding: 0.5em 0 0 0.5em;
}

/* line 81, ../sass/simple_conference_theme.scss */
#navigation-wrapper {
  background-color: #ee3135;
  min-height: 40px;
  width: 100%;
}
/* line 22, ../sass/simple_conference_theme.scss */
#navigation-wrapper #navigation li a {
  padding: 11px 10px;
  text-transform: uppercase;
  background: #f58220;
  color: #414042;
}
/* line 29, ../sass/simple_conference_theme.scss */
#navigation-wrapper #navigation li a:hover,
#navigation-wrapper #navigation li a .active-trail {
  background-color: #d7df23;
}
/* line 36, ../sass/simple_conference_theme.scss */
#navigation-wrapper #navigation li {
  padding: 8px 0;
}
/* line 86, ../sass/simple_conference_theme.scss */
#navigation-wrapper #breadcrumbs {
  padding: 7px 0;
}
/* line 88, ../sass/simple_conference_theme.scss */
#navigation-wrapper #breadcrumbs a {
  color: #d7df23;
}

/* line 93, ../sass/simple_conference_theme.scss */
#footer-wrapper {
  background-color: #ee3135;
  min-height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

/* line 100, ../sass/simple_conference_theme.scss */
a {
  text-decoration: none;
  color: #f58220;
}
/* line 103, ../sass/simple_conference_theme.scss */
a:hover {
  color: #f58220;
}

/* line 113, ../sass/simple_conference_theme.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Adelle", Georgia, "Times New Roman", "DejaVu Serif", serif;
}

/* line 117, ../sass/simple_conference_theme.scss */
.typekit-badge {
  display: none !important;
}

/* line 125, ../sass/simple_conference_theme.scss */
.national-conference-sessions .session-title,
.national-conference-sessions .session-separator,
.national-conference-sessions .session-speaker {
  float: left;
}
/* line 128, ../sass/simple_conference_theme.scss */
.national-conference-sessions .session-separator {
  padding: 0 5px;
}
/* line 131, ../sass/simple_conference_theme.scss */
.national-conference-sessions .session-date {
  clear: both;
}

@media only screen and (min-width: 600px) {
  /* line 22, ../sass/simple_conference_theme.scss */
  #footer li a {
    padding: 11px 10px;
    text-transform: uppercase;
    background: #f58220;
    color: #414042;
  }
  /* line 29, ../sass/simple_conference_theme.scss */
  #footer li a:hover,
  #footer li a .active-trail {
    background-color: #d7df23;
  }
  /* line 36, ../sass/simple_conference_theme.scss */
  #footer li {
    padding: 8px 0;
  }
  /* line 140, ../sass/simple_conference_theme.scss */
  #footer #menu-lines {
    display: none;
    visibility: hidden;
  }
}
@media only screen and (max-width: 599px) {
  /* line 149, ../sass/simple_conference_theme.scss */
  #page {
    padding-bottom: 50px;
  }

  /* line 153, ../sass/simple_conference_theme.scss */
  #footer ul.menu {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    display: none;
    max-width: 250px;
    position: relative;
    position: fixed;
    bottom: 0%;
    left: 30%;
  }
  /* line 22, ../sass/simple_conference_theme.scss */
  #footer ul.menu li a {
    padding: 11px 10px;
    text-transform: uppercase;
    background: #414042;
    color: #f58220;
  }
  /* line 29, ../sass/simple_conference_theme.scss */
  #footer ul.menu li a:hover,
  #footer ul.menu li a .active-trail {
    background-color: #d7df23;
  }
  /* line 42, ../sass/simple_conference_theme.scss */
  #footer ul.menu li a {
    display: block;
    width: 100px;
    text-align: center;
  }
  /* line 163, ../sass/simple_conference_theme.scss */
  #footer #menu-lines {
    display: block;
    visibility: visible;
  }
}
/* line 170, ../sass/simple_conference_theme.scss */
#menu-lines {
  cursor: pointer;
  border-bottom: 17px double #231f20;
  border-top: 6px solid #231f20;
  content: "";
  height: 6px;
  width: 33px;
  margin: 5px;
}

/* line 180, ../sass/simple_conference_theme.scss */
.mobile-show {
  visibility: visible !important;
  display: block !important;
}

/* Sessions theming */
/* line 187, ../sass/simple_conference_theme.scss */
.national-conference-sessions .view-content > .view-grouping > .view-grouping-content {
  display: none;
}
/* line 190, ../sass/simple_conference_theme.scss */
.national-conference-sessions .view-content > .view-grouping > .view-grouping-content .views-field-title-1 {
  padding: 0 0 0.5em 2em;
}

/* line 198, ../sass/simple_conference_theme.scss */
.view-id-navigation .view-content > .view-grouping > .view-grouping-header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;
  font-size: 1.5em;
}
/* line 205, ../sass/simple_conference_theme.scss */
.view-id-navigation .view-content > .view-grouping > .view-grouping-content h3 {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  margin: 0;
  text-transform: uppercase;
}
/* line 210, ../sass/simple_conference_theme.scss */
.view-id-navigation .view-content > .view-grouping > .view-grouping-content h3 a {
  color: #414042;
}
/* line 217, ../sass/simple_conference_theme.scss */
.view-id-navigation .view-content > .view-grouping > .view-grouping-content > .view-grouping {
  padding-bottom: 0.5em;
}
/* line 221, ../sass/simple_conference_theme.scss */
.view-id-navigation .view-content > .view-grouping > .view-grouping-content > .view-grouping > .view-grouping-header .date-display-single {
  display: block;
  padding: 0.5em 0 0.5em 3.5em;
  background: url("../images/clock.png") no-repeat left #d7df23;
  background-size: 3em;
}

/* Speakers Theming */
/* Gridify when above a certain size */
/* line 238, ../sass/simple_conference_theme.scss */
.simple-conference-speakers .view-content > .view-grouping .view-grouping-header {
  text-transform: uppercase;
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}
/* line 240, ../sass/simple_conference_theme.scss */
.simple-conference-speakers .view-content > .view-grouping .view-grouping-header a {
  color: #414042;
}
/* line 248, ../sass/simple_conference_theme.scss */
.simple-conference-speakers .view-content > .view-grouping .view-grouping-header,
.simple-conference-speakers .view-content > .view-grouping .view-grouping-content {
  text-align: center;
}
@media only screen and (min-width: 600px) {
  /* line 237, ../sass/simple_conference_theme.scss */
  .simple-conference-speakers .view-content > .view-grouping {
    float: left;
    width: 50%;
    height: 400px;
    text-align: center;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 237, ../sass/simple_conference_theme.scss */
  .simple-conference-speakers .view-content > .view-grouping {
    float: left;
    width: 33%;
    height: 400px;
    text-align: center;
  }
}
/* line 264, ../sass/simple_conference_theme.scss */
.simple-conference-speakers .view-content > .view-grouping .views-field-title-1 {
  width: 165px;
  margin-right: auto;
  margin-left: auto;
}

/* line 275, ../sass/simple_conference_theme.scss */
.field-type-image {
  float: left;
  padding: 0 2em 2em 0;
}
