/**
 * @file
 * Custom Styling
 */

@import "base";

// fade in of menu items or links? TODO
$navheight: 40px;
$phone: 600px;
$tablet: 1200px;
$radius: 5px;

@mixin zen-font-size() {
  font-size: 100% * ($base-font-size / 16px); /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

@mixin menu-item-base($outer: $orange, $text: $dgrey) {
  li {
    a {
      // May be one of 'normal' or 'inverse'
      padding: 11px 10px;
      text-transform: uppercase;
      background: $outer;
      color: $text;
      &:hover,
      .active-trail { background-color: $yellow; }
    }
  }
}

@mixin menu-item-normal {
  @include menu-item-base($orange, $dgrey);
  li {
    padding: 8px 0;
  }
}
@mixin menu-item-inverse {
  @include menu-item-base($dgrey, $orange);
  li a {
    display: block;
    width: 100px;
    text-align: center;
  }
}

@mixin nav-region-wrapper {
  background-color: $red;
  min-height: $navheight;
  width: 100%;
}

html {
  background: $white;
}

#page {
  background: $white;
  padding-bottom: $navheight;
}

// Anything in page.tpl that has the central
// class won't be full width.
.central {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

#header-wrapper {
  background-color: $headergrey;
}

#site-name {
  padding: 0.5em 0 0 0.5em;
}

// Navigation bar custom
#navigation-wrapper {
  @include nav-region-wrapper();
  #navigation {
    @include menu-item-normal();
  }
  #breadcrumbs { 
    padding: 7px 0;
    a { color: $yellow; }
  }
}

// Footer
#footer-wrapper {
  @include nav-region-wrapper();
  position: fixed;
  bottom: 0;
}

// Theme ALL the links!
a {
  text-decoration: none;
  color: $orange;
  &:hover { color: $orange; }
}

// Give the headers a different font to
// regular text
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}

.typekit-badge {
  display: none !important;
}

// Views theming
.national-conference-sessions {
  .session-title,
  .session-separator,
  .session-speaker {
    float: left;
  }
  .session-separator {
    padding: 0 5px;
  }
  .session-date {
    clear: both;
  }
}

// Fancy styling for bottom menu when on small devices
@media only screen and (min-width:$phone) {
  #footer {
    @include menu-item-normal();
    #menu-lines {
      display: none;
      visibility: hidden;
    }
  }
}
// If the screen is smaller than $phone size then
// put the fancy wordpress style button there instead
@media only screen and (max-width:$phone - 1) {
  #page {
    padding-bottom: 50px;
  }
  #footer {
    ul.menu {
      @include border-top-radius($radius);
      display: none;
      max-width: 250px;
      position: relative;
      position: fixed;
      bottom: 0%;
      left: 30%;
      @include menu-item-inverse();
    }
    #menu-lines {
      display: block;
      visibility: visible;
    }
  }
}

#menu-lines {
  cursor: pointer;
  border-bottom: 17px double $headergrey;
  border-top: 6px solid $headergrey;
  content:"";
  height: 6px; 
  width:33px;
  margin: 5px;
}

.mobile-show {
  visibility: visible !important;
  display: block !important;
}

/* Sessions theming */
.view-content > .view-grouping > .view-grouping-content {
  .national-conference-sessions & {
    display: none;
    //padding: 0 0 1em 1em;
    .views-field-title-1 {
      padding: 0 0 0.5em 2em;
    }
  }
}

.view-id-navigation {
  .view-content > .view-grouping {
  & > .view-grouping-header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    cursor: pointer;
    font-size: 1.5em; // fix this it's shit
    }
    & > .view-grouping-content {
    h3 {
      // Remove the padding enforced by views (which is retarted)
      @include zen-font-size();
      margin: 0;
      text-transform: uppercase;
      a {
        color: $dgrey;
      }
    }
  }
  }
  // Apply formatting to the minor date field
  .view-content > .view-grouping > .view-grouping-content > .view-grouping {
    padding-bottom: 0.5em;
    & > .view-grouping-header {
//    padding: 0.5em;
    .date-display-single {
      // top right bottom left
      display: block;
      padding: 0.5em 0 0.5em 3.5em;
      background: url('../images/clock.png') no-repeat left $yellow;
      background-size: 3em;
    }
  }
}
}

/* Speakers Theming */
/* Gridify when above a certain size */
// If the screen is smaller than $phone size then
// put the fancy wordpress style button there instead
.simple-conference-speakers {
  .view-content > .view-grouping {
    & .view-grouping-header {
      text-transform: uppercase;
      a {
        color: $dgrey;
      }
      @include adjust-font-size-to( $h2-font-size );
      @include leader(1, $h2-font-size);
      @include trailer(1, $h2-font-size);
    }
    .view-grouping-header,
    .view-grouping-content {
      text-align: center;
    }
    @media only screen and (min-width:$phone) {
      float: left;
      width: 50%;
      height: 400px;
      text-align: center;
    }
    @media only screen and (min-width:$tablet) {
      float: left;
      width: 33%;
      height: 400px;
      text-align: center;
      
    }
    .views-field-title-1 {
      width: 165px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
//.view-id-navigation {

//}

.field-type-image {
  float: left;
  padding: 0 2em 2em 0;
}
